{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>automata de pila</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href='{% static "CSS/estiloGrafo.css" %}'>
    </head>
    <body onload="encenderGrafo()">
        <section id="grafo">
            <span class="linea" id="l1"></span>
            <span class="flecha" id="f1"></span>
            <p class="letra" id="let5">
                b,b/ bb<br>
                a,b/ ba<br>
                b,a/ ab<br>
                a,a/ aa<br>
                b,#/ #b<br>
                a,#/ #a<br>
            </p>
            <canvas id="flechaCurva1"></canvas>
            <span class="flecha" id="f2"></span>
            <span class="circulo" id="p">p</span>             
            <span class="linea" id="l3">
                <p class="letra" id="let3">
                    b,b/ &lambda;<br>
                    a,a/ &lambda;<br>
                </p>
            </span>
            <span class="flecha" id="f3"></span>
            <p class="letra" id="let6">
                b,b/ &lambda;<br>
                a,a/ &lambda;<br>
            </p>
            <canvas id="flechaCurva2"></canvas>
            <span class="flecha" id="f5"></span>
            <span class="circulo" id="q">q</span>  
            <span class="linea" id="l4">
                <p class="letra" id="let4">
                    &lambda;,#/ #
                </p>
            </span>
            <span class="flecha" id="f4"></span>
            <span class="circulo" id="r">r</span>
        </section>
        <section id="insercion">
            <form method="post" action="{% url 'Palindromo' %}" id="evaluador" >
                
               
                <input type="text" name="palabra" id="palabra" placeholder="Ingrese una palabra...">
                <button type="submit">Evaluar</button>
            </form>
            {% if resultados %}
                <ul>
                {% for resultado in resultados %}
                    <li>{{ resultado }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <br>
            <form method="post" action="{% url 'historial' %}" id="evaluador" >
                {% csrf_token %}
                <button type="submit">Mostrar historial</button>
            </form>
            <form method="post" action="{% url 'borrar_historial' %}" id="evaluador">
                {% csrf_token %}
                <button type="submit">Borrar historial</button>
            </form>
            <br>
            {% if historial %}
                <table>
                    <thead>
                        <tr>
                            <th>Palabra ingresada</th>
                            <th>"Estado de la palabra"</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for h in historial %}
                        <tr>
                            <td>{{ h.palabrasIngresadas }}</td>
                            <td>{{ h.estadoDelaPalabra }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p> "No hay palabras en el historial."</p>
            {% endif %}


        </section>
        
    <script src='{% static "JS/flechasCanvas.js"%}'></script>
    <script src='{% static "JS/recorridoGrafo.js"%}'></script>
    </body>
</html>
