{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>automata de pila</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href='{% static "CSS/estiloGrafo.css" %}'>
    </head>
    <body onload="historialEspacio(),mensajeVoz(),encenderGrafo()">
        <label for="lenguaje" id="eleccionLeng">elija el idioma:</label>
        <select name="lenguaje" id="lenguaje" onclick="interfazIdioma()">
            <option value="Espaniol">Espa&ntildeol</option>
            <option value="English">English</option>
            <option value="Frances">Frances</option>
        </select>
        <br>
        <label for="velocidad" id="eleccionVel">elija la velocidad de ejecuci&oacute;n del grafo y la pila:</label>
        <select name="velocidad" id="velocidad" onclick="velocidadEjecucion(),velocidadEleg()">
            <option value="normal">normal</option>
            <option value="rapido">r&aacute;pido</option>
            <option value="lento">lento</option>
        </select>
        <p id="velocidadEleg">{velocidad seleccionada: normal}</p>
        {% if velocidad%}
            <p id="velocidadEscog" hidden>{{velocidad}}</p>
        {% endif %}
        <section id="grafo">
            <span class="linea" id="l1"></span>
            <span class="flecha" id="f1"></span>
            <p class="letra" id="let5">
                <span id="let5a">b,b/ bb</span><br>
                <span id="let5b">a,b/ ba</span><br>
                <span id="let5c">b,a/ ab</span><br>
                <span id="let5d">a,a/ aa</span><br>
                <span id="let5e">b,#/ #b</span><br>
                <span id="let5f">a,#/ #a</span><br>
            </p>
            <canvas id="flechaCurva1"></canvas>
            <span class="flecha" id="f2"></span>
            <span class="circulo" id="p">p</span>             
            <span class="linea" id="l3">
                <p class="letra" id="let3">
                    <span id="let3a">b,b/ &lambda;</span><br>
                    <span id="let3b">a,a/ &lambda;</span><br>
                </p>
            </span>
            <span class="flecha" id="f3"></span>
            <p class="letra" id="let6">
                <span id="let6a">b,b/ &lambda;</span><br>
                <span id="let6b">a,a/ &lambda;</span><br>
            </p>
            <canvas id="flechaCurva2"></canvas>
            <span class="flecha" id="f5"></span>
            <span class="circulo" id="q">q</span>  
            <span class="linea" id="l4">
                <p class="letra" id="let4">
                    &lambda;,#/ #
                </p>
            </span>
            <span class="flecha" id="f4"></span>
            <span class="circulo" id="r">r</span>
        </section>
        <section id="pila">
            <table id="letrasPila">
                <tbody id="cuerpoPila">                  
                </tbody>
            </table>
        </section>
        <section id="insercion">
            <form method="post" action="{% url 'Palindromo' 'normal' %}" id="evaluador" >
                {% csrf_token %}
                <input type="text" name="palabra" id='palabra' placeholder="Ingrese una palabra...">
                <button id="validacion" type="submit" onclick="interfazIdioma()">Evaluar</button>
            </form>
            {% if resultados %}
                <ul>
                {% for resultado in resultados %}
                    <li id="mensajeAutomata">{{ resultado }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <br>
            <div id="evaluador">    
                <form method="post" action="{% url 'historial' %}">
                    {% csrf_token %}
                    <button type="submit" id="botonHistorial" onclick="interfazIdioma()">Mostrar historial</button>
                    
                </form>
                <form method="post" action="{% url 'borrar_historial' %}">
                    {% csrf_token %}
                    <button type="submit" id="botonBorrarHistorial" onclick="interfazIdioma()">Borrar historial</button>
                </form>
            </div>
            <br>
            {% if historial %}
                <table id="historial">
                    <thead>
                        <tr>
                            <th id="tablaPalabra">Palabra ingresada</th>
                            <th id="tablaEstado">"Estado de la palabra"</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for h in historial %}
                        <tr>
                            <td>{{ h.palabrasIngresadas }}</td>
                            <td class="estadoPalabra">{{ h.estadoDelaPalabra }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
            <p id="sinHistorial"> "No hay palabras en el historial."</p>
            {% endif %}
        </section>
    <script src='{% static "JS/grafo.js"%}'></script>  
    <script src='{% static "JS/flechasCanvas.js"%}'></script>
    <script src='{% static "JS/recorridoGrafoPila.js"%}'></script>
    </body>
</html>
<script>document.getElementById("velocidad").value</script>